html {
    overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
    /**background: url("../img/bg-fab 2.png") repeat fixed;/**/
	
    background: #F4F2E3; /* old browsers */
    background: -moz-linear-gradient(top, #EDE7D7 0%, #F4F2E3 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDE7D7), color-stop(100%,#F4F2E3)); /* webkit */
	
	background-color: #F4F2E3;
    color: #202020;
}

div {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 990px;
}

.tiled {
    font-size: 0;
    letter-spacing: -4px;
    line-height: 0;
}
.tiled div {
    font-size: 16px;
    letter-spacing: normal;
    line-height: normal;
}

h1, h2, h3, h4, h5, p {
    line-height: normal;
    letter-spacing: normal;
}

h1 { 
    font-size: 24px;
    margin: 0;
    padding: 5px 0;
}
h2 { font-size: 40px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 19px; }

#header {
	
}

#canvas {
    
}

#footer {
    height: 200px;
}
#footer .container {
    height: inherit;
    text-align: center;
}

p {
    color: #202020;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #42A5B5;
}
a:hover {
    
}





.leftTile {
    width: 160px;
    display: inline-block;
    margin: 0 20px 20px 0;
    vertical-align: top;
}

.mainTile {
    background-color: #fff; 
	border: 1px solid #D8D9CC; 
	border-color: #E6E7D9 #D8D9CC transparent #D8D9CC; 
	width: 990px; 
	margin: 0 auto;
}

.innerPadding {
	margin: 25px 40px 225px 40px; 
}

.fullTile {
	padding: 25px 40px 225px 40px; 
	width: 990px; 
	margin: 0 auto; 
	*zoom: 1;
}

.fullCol {
    width: inherit;
}

.halfWide {
	width: 493px;
}


.leaderboard {
    width: 728px;
    height: 90px;
}

.wideSkyscraper {
    width: 160px;
    height: 600px;
}

.horizontalLarge {
    width: 728px;
    height: 15px;
}

.verticalMedium {
    width: 160px;
    height: 90px;
}

#headerContainer {
	margin: 20px auto 0 auto;
    overflow: visible;
}

#topBar {
	padding-top: 20px;
}

#title {
    float: left;
}

#userMenu {
    min-width: 120px;
    display: table;
    float: right;
    height: 30px;
    padding: 0 15px;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
    overflow: auto;
    z-index: 10000;
	margin: 20px 0 0 0;
	border: 1px solid #D8D9CC; 
}
#userMenuDropdown {
    cursor: default;
    width: 100%;
    padding: 10px 0;
	margin: 0 auto;
    display: table-cell;
    position: absolute;
    top: 30px;
    left: -9999px;
	border: 1px solid #D8D9CC; 
}
#userMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#userMenu li {
    margin-left: 10px;
}
#userMenu:hover #userMenuDropdown {
    left: -1px;
}

#userMenu h5 {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
	/**font-family: Lucida-Grande sans-serif;/**/
	color: #888888;
}




#nav ul {
    list-style:none;
    font-weight:bold;
    margin-bottom:10px;
    /* Clear floats */
    float:left;
    width:100%;
    position:relative;
    z-index:5;
}
#nav li {
    float:left;
    margin-right:10px;
    position:relative;
}
#nav a {
    display:block;
    color:#fff;
    text-decoration:none;
}
#nav a:hover {
    color:#fff;
    text-decoration:underline;
}


/*--- DROPDOWN ---*/
#nav ul ul {
    background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav ul ul li {
    padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float:none;
}
#nav ul ul a {
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul { /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
}
#nav li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    text-decoration:none;
}
#nav li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
}
#nav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background:#333;
}




#logo {
    float:left;
	margin: 0 20px 5px 10px;
	overflow:visible;
	height:50px;
}
    #logo img {
        display: block;
        margin: 0 auto;
    }

#topLeaderboard {
	
}
    
#nav {
    margin: 0;
    float:left;
}
    #nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
        #nav li {
            display: inline-block;
            margin: 0 15px 0 15px;
            padding: 0 5px 3px 5px;
        }
        #nav li.sel {
	        
        }     
            #nav li a {
                color: rgba(109, 35, 45, 0.82);
                display: block;
                text-align: center;
                margin: 20px 0 0 0;
                /**/font-family: Lucida-Grande sans-serif;/**/
                font-size: 16px;
	            padding: 5px 0 2px 0;
            }
            #nav li a:hover {
	            /**/border-bottom: 2px #42A5B5 solid;/**/
                color: #42A5B5;
            }
            #nav li.sel a {
                color: rgba(109, 35, 45, 0.82);
	            /**/border-bottom: 2px rgba(109, 35, 45, 0.82) solid;/**/
            }
    #navHome {
        
    }
    #navForum {
        
    }


button {
    height: 34px;
    letter-spacing: normal;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;

    background: #F0F0F0; /* old browsers */
    background: -moz-linear-gradient(top, #F0F0F0 0%, #aeaeae 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0), color-stop(100%,#aeaeae)); /* webkit */

    border: 1px solid #000000;
    border-radius: 3px;

    color: #353535;
    text-shadow: 0px 1px 1px #e3e3e3;
}
button:hover {
    background: #a8a8a8; /* old browsers */
    background: -moz-linear-gradient(top, #a8a8a8 0%, #6e6e6e 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8a8a8), color-stop(100%, #6e6e6e)); /* webkit */
    text-shadow: 0px 1px 1px #a3a3a3;
}
button:active {
    background: #6e6e6e; /* old browsers */
}


.board, .floater {
    /*border-radius: 2px;*/
	
}

.board, .floater {
	-webkit-box-shadow: inset 0 0 8px #e8e9dC;
    -moz-box-shadow: inset 0 0 8px #e8e9dC;
    box-shadow: inset 0 0 8px #e8e9dC;    
	
    /*box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.80);
    /*-moz-box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.80);
    /*-webkit-box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.80);*/
}

.board {
    background-color: #fff; 
	border: 1px solid #D8D9CC; 
	border-color: #E6E7D9 #D8D9CC transparent #D8D9CC; 
	/**padding: 25px 40px 225px 40px;/**/ 
}

.innerGlow {
    -webkit-box-shadow: inset 0 0 10px #e8e9dC;
    -moz-box-shadow: inset 0 0 10px #e8e9dC;
    box-shadow: inset 0 0 10px #e8e9dC;
}

/**  // FamilyHistory
#main { 
	background-color: #fff; 
	border: 1px solid #D8D9CC; 
	border-color: #E6E7D9 #D8D9CC transparent #D8D9CC; 
	padding: 25px 40px 225px 40px; 
	width: 900px; 
	margin: 0 auto; 
	*zoom: 1;
}
/**/


label {
    font-size: 14px;
    font-weight: bold;
}

input[type=text],
input[type=password] {
    border-radius: 3px;
    border-color: #BBBBBB;
    border-width: 1px;
    margin: 0 0 20px 10px;
    padding: 8px 6px;
    font-size: 17px;
    line-height: 1.3;
    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.10);
}