<!--#include virtual="page.combined.css" -->
<!--#include virtual="vendor/chosen.css" -->

#filters {
    padding: 20px 0;
}
h5 {
    display: inline-block;
    margin: 0 2px 0 20px;
    height: 29px;
    line-height: 29px;
    vertical-align: top;
}

#filterSelector_chzn, #filterSelector_chzn .chzn-drop,
#orderBySelector_chzn, #orderBySelector_chzn .chzn-drop {
    font-size: 13px !important;
}
#filterSelector_chzn, #orderBySelector_chzn {
    display: inline-block;
    vertical-align: top;
}
#filterSelector_chzn .chzn-choices, #orderBySelector_chzn .chzn-choices {
    border-radius: 2px;
}
#filterSelector_chzn, #filterSelector_chzn .chzn-choices {
    width: 467px !important;
}
#orderBySelector_chzn, #orderBySelector_chzn .chzn-choices {
    padding: 2px 0;
}

#leftWideSkyScraper {
   float: left;
}

#result {
    min-height: 510px;
}

#resultNav {
    margin: 20px 20px 0 20px;
    text-align: center;
}

.pageNumberLink {
    display: inline-block;
    min-width: 30px;
    padding: 0 4px;
    font-size: 18px;
    vertical-align: middle;
}
.pageNumberLink:hover {
    cursor: pointer;
}
.pageNumberLink.sel {
    color: #202020;
    cursor: default;
}

#resultList {
    margin: 20px 20px 0 20px;
    text-align: center;
}
    
.browseTP {
    width: 216px;
    display: inline-block;
    margin: 0 20px 20px 0;
    float: left;
    background-repeat: no-repeat; 
    position: relative;
}
.browseTP:nth-child(3n) {
    margin-right: 0;
}
    .browseTP img {
        background-color: #FFFFFF;
        border-radius: 2px;
        border: 1px solid #666666;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    }
    .browseTP .status, .browseTP .res {
        position: absolute;
        right: -1px;
        font-size: 13px;
        background-color: #F0F0F0;
        padding: 5px;
        border: 1px solid #666666;
        font-weight: bold;
        text-shadow: 0 1px 0 #FFFFFF;
        -moz-text-shadow: 0 1px 0 #FFFFFF;
        border-radius: 2px;
    }
    .browseTP .status {
        top: 0;
    }
    .browseTP .status:empty {
        top: 0;
        visibility: hidden;
    }
    .browseTP .res {
        color: #202020;
        bottom: 20px;
    }
    .browseTP h6 {
        color: #202020;
        margin: 0;
        padding: 2px 0;
        text-align: center;
        text-shadow: 0 1px 0 #FFFFFF;
        -moz-text-shadow: 0 1px 0 #FFFFFF;
        font-size: 13px;
    }
.browseTP:hover img {
    border-color: blue;
}