<!--#include virtual="page.combined.css" -->
<!--#include virtual="pattern.css" -->

#imageViewer{
    display:inline-block;
    overflow: hidden;
    float: left;
}

#imageViewer div {
    width:600px;
    margin:5px;
    min-height: 500px;
}

#imageViewer div img {
    max-width: 100%;
    margin: auto;
    display: block;
}

#patternInfo{
    width:250px;
    min-height: 500px;

    margin: 0 0 0 20px;
    display:inline-block;
    float: left;

}

#patternInfo h1{
    color:#42A5B5;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

#patternID {
    font-size: 11px;
}

#patternPrice {
    color:red;
    line-height: 40px;
}


#subpatternsWrap {
    margin:20px 0 0 0;
    width:auto;
    display: block;
}

#subpatternsWrap p {
    color:#42A5B5;
}

#subpatternsWrap.div{
    width:auto;
    display: block;
}